.h-separator {
  border: 1px solid #e8e8e8;
}

.addbook-container {
  padding: 2rem 5.5%;
}

.addbook-header {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #888;
}

.input-section {
  display: flex;
  column-gap: 2.5%;
  padding: 1rem 0;
  width: 100%;
}

.input-section > * {
  padding: 0.5rem 1rem;
  font-family: Montserrat, 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 0.25rem;
}

.input-section > input:focus {
  outline-color: lightgray;
}

.input-section > *:first-child {
  width: 60%;
}

.input-section > *:nth-child(2) {
  width: 20%;
}

.input-section > *:last-child {
  width: 14%;
}

.input-button {
  background-color: #0290ff;
  font-family: Robot Slab, sans-serif;
  font-weight: 700;
  font-size: 0.813rem;
  color: white;
  border: none;
}
